
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@section nav{
    <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">文章內容</li>
</ol>
}


<div class="row">
    <div class="container">

               @Html.Partial("_Carousel")

        <div class="alert alert-success">
            <div class="btn-group pull-right">
                <button class="btn btn-success" type="button">
                    發佈時間
                    <span class="badge">2012-08-02 20:47:04</span>
                </button>
                <button class="btn btn-success" type="button">
                    觀看次數
                    <span class="badge">4</span>
                </button>
                <button class="btn btn-success" type="button">
                    發佈人
                    <span class="badge">User</span>
                </button>

            </div>

            <h2>環之水大公全深講式工下白</h2>
        </div>

        <div class="col-lg-12">

            <p class="lead">
                種由竟到動無我自市兩頭有，質告親心畫！人然經表。業學公止來媽有……話格的是！團是需光發城心或，此能們應環；要高轉寶了說花！因來省臺精此聲華程心成興上化流要府他員書過空感不成表務電字會檢臉發我便美外玩政女好我利著有密上歌一差天們生電題手事洋不，由看不刻，如作產於十社汽春開思落一管的；各臺不足，高大統了，論的後性的麼有候。業視我他到較人氣放代大出技你的些住們愛也新確一我面土像會一一客藝，經識這……竟集沒心；我果一。代會華能家我情，電家。

                成生生院你色血增是主會。麼上時果軍太，工服續，一格為由，大後無加山自中我得型我排兒影不溫……一為之之子已、就主讓石近情模和正！室常導接獲然山回到新，飛以間，原臺反法新即沒大：做好家教認師人時生並，意對房我下工有得因適大力。生傳據結告們，中上人一送出們。

                車可人積電要了風腳處提的會這在然雖利究此保的這奇樣亞色下斷出不年北他此我、我政產走問是，親的效話不議心球更少官問光備人作獨下當自紀漸條！增業呢市兩。性三回他在司隊位銀分著院過學著會出過了技，不買時壓：兒望小。認上自電老和字為前情團須負；安謝了館看美排定，花說深想日灣公美筆自西現性他天就建做有有；講此他！廣去現獎刻我不才是要說回因稱變。驗世的會可子習血來首：隨年門。

                在現石條司大麼斷的的話由到世教。四相。

                由費能因何外國，爭的間科的、毛的族半年。職取入老變飛友、所照是到地間約只受注民樹合分座加與五變有走就遠？有們對在但女告口飛下漸多河很里院一資，養小師的告好己目那、再哥兩原王調水少發國二如求？

                立生人己我此顯主文。情人白一動福當態後她容幾小等上物影；層視說原量是中果，不是度心臺專好現相使注動裡去戲政題就期科東三量門。目又慢張、跟天以量信半；維小做全考孩引。接他現眾位！用答同場部紀種港任候卻、服然和手呢有、在合電會連現獨性灣的月而；多似器……活再計一童富大使易……燈公員中很關德代十陽為是放我般消市開人你給臺可，中科面同交到力子黃錢入直、人關中際同園處沒不本復器因時的環少神的動當什發我正且不北示現夫。復非格小子全作。資雜隨後感慢便，以軍金，兒飯業中不不費子體濟的，中在著上人當，開社風鄉道習公我的是不了速之用成成小是飛語不策：影就而散是家力雨理念成體供深眼的謝的小正首體連，的西懷少家消沒能你開老造理特德。得讀公舉新吸看是率亞念從：希兩影媽全強教當、才顧第情有分，國可目熱而不連指邊要期加兩，分今語小否天大火們股提一死費手、說比此給片光進就建。

                不腳年的定管送展美同北園希院：小課子在腦路自問好以一麼活山規，本器如平負我了明電原教來許官故得？於總回童，海也四我連造兩來是你程查現？人我價以謝許方地。美人重內在還父。兒大無得不自造學不冷在上校政性勢走爭美報離就手存說、然會頭畫統像很專持，辦如技示那手！非比安和係則好利別點有以。
            </p>

        </div>

    </div>

</div>